<h1>Merchants</h1>

  <table>
    <tr>
      <th>Merchant name</th>
      <th></th>
      <th>Total spent</th>
    </tr>
    <% for merchant in @merchants %>
    <tr>
      <td><a href="/merchants/<%= merchant.id %>"><%= merchant.name %></a></td>
      <td>|</td>
      <td><%= merchant.total %> <img src="/images/credit.png"></td>
    </tr>
    <% end %>
  </table>

<p> <a href="/merchants/new">Add a new Merchant</a> </p>
