<h1>Add a new Merchant</h1>

<form class="" action="/merchants/new" method="post">
  <label for="name">Merchant name:</label>
  <input type="text" name="name" id="name"/>

  <input type="submit" value="Add Merchant"/>
</form>
