<h1>Merchant: <%= @merchant.name %> </h1>

  <table class="table">
    <tr>
      <th>Date</th>
      <th></th>
      <th>Total spent</th>
    </tr>
    <% for transaction in @transactions%>
    <tr>
      <td><%=transaction.date%></td>
      <td>|</td>
      <td><%= transaction.amount %></td>
    </tr>
    <% end %>
  </table>
