<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/images/Empire_logo.png" />
    <link rel="stylesheet" type="text/css" href="/styles/general.css">

    <title>G.E.B.A.</title>
  </head>
  <body>
    <header>
  <a href="/"><img class="logo" src="/images/Empire_logo.png" />
    </a>
  <a href="/" class="logo_words"> Galactic Empire Budgeting App</a>
    </header>
    <main>
      <nav>
        <ul>
          <li><a href="/new">Add a transaction</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/merchants">Merchants</a></li>
        </ul>
      </nav>
    </main>
    <%= yield %>
    <div class="star-right"></div>
    <div class="star-left"></div>
  </body>
  <footer></footer>
</html>
