<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/images/Empire_logo.png" />
    <link rel="stylesheet" type="text/css" href="/styles/general.css"/>
    <link href="/Starjedi.ttf" rel="stylesheet"/>

    <title>G.E.D.I.</title>
  </head>
  <body>
    <header>
  <a href="/"><img class="logo" src="/images/Empire_logo.png" />
    </a>
  <a href="/" class="logo_words"> Galactic Empire: Disbursement investor</a>
    </header>
    <main>
      <nav>
        <ul>
          <li><a href="/">Home</a> </li>
          <li><a href="/new">Add a transaction</a></li>
          <li><a href="/categories">Categories</a></li>
          <li><a href="/merchants">Merchants</a></li>
          <li> <a href="/budget">Budgets</a></li>
          <li><div class="dropdown">
          <button class="dropbtn">Month</button>
            <div class="dropdown-content">
              <% for budget in @budgets%>
                <a href="/month/<%= budget.id%>"><%= budget.month %></a>
              <% end %>
            </div>
          </div></li>
        </ul>
      </nav>


    </main>
    <%= yield %>
    <div class="star-right"></div>
    <div class="star-left"></div>
  </body>
  <footer> <a href="/hyperspace"> Go to hyperspace </a> </footer>
</html>
