<h1>Categories</h1>

<p> <a href="/categories/new">Add a new Category</a> </p>
<br>

  <table class="table">
    <tr>
      <th>Category type</th>
      <th></th>
      <th>Total spent</th>
    </tr>
    <% for category in @categories %>
    <tr>
      <td><a href="/categories/<%= category.id %>"><%= category.type %></a></td>
      <td>|</td>
      <td><%= category.total %></td>
    </tr>
    <% end %>
  </table>
