
<h2>Categories: <%= @category.type %></h2>

<table class="table">
  <tr>
    <th>Date</th>
    <th></th>
    <th>Merchant</th>
    <th></th>
    <th>Total spent</th>
  </tr>
  <% for transaction in @transactions%>
  <tr>
    <td><%= transaction.date%></td>
    <td>|</td>
    <td><%=transaction.merchant.name()%></td>
    <td>|</td>
    <td>£<%= transaction.amount %></td>
  </tr>
  <% end %>
</table>
