
.logo {
  height: 100px;
  width: 100px;
  padding: 10px;
  margin: 10px 10px 10px 10px;
  align-items: center;
  display: flex;
  background-color: #ddd;
  border-radius: 50%;

}

@font-face {
  font-family: 'Starjedi';
  src: url("/Starjedi.ttf") format("truetype");
}

.logo_words {
  font-family: 'Starjedi';
  background-color: #222;
  color: white;

}

.dropbtn {
    background-color: #9d4f5f;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #222;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #222}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: darkred;
}


a:link{color: #ddd;}

a:visited{color: #ddd;}

a:hover{color: #9d4f5f;}

a:active{color: darkred;}



header {
  display: flex;
  align-items: center;
  background-color: #222;
  font-size: 2.5em;
  color: black;
  border-bottom: 6px solid #9d4f5f;
  width: 100%;
  top: 0px;
  z-index: 0;
}

h1{
  display: inline-block;
  float: auto;
}


body {
  font-family: 'Archivo Black', sans-serif;
  font-size: 20px;
  background-color: #151515;
  color: #ddd;
  z-index: 0;
}

.table {
  background-color: #282727;
  display: inline-block;
  justify-content: center;
  align-items: center;
  color: #ddd;
  border-bottom: 6px solid #9d4f5f;
  z-index: 1;

  margin-left: auto;
  margin-right: auto;

}

.hide{
  display: none;
}

th, td {
    border-bottom: 3px solid #222;
}

table{
  column-width: auto;
}

nav {
  color: #ddd;
  display: inline-block;
}

li{
    display: inline-block;
}

p{
  display: inline-block;
}

.star-right{
z-index: -1;
display: inline-block;
float: right;
top: 0;
height: 100vh;
background-repeat: no-repeat;
background-position: right center;
background-size: auto 100%;
background-image: url("/styles/star-field-right.jpg");
width: 100px;
}


.star-left {
  z-index: -1;

  top: 0;
  float: left;
  display: inline-block;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url('/styles/star-field-left.jpg');
  background-position: left, center;
  background-size: auto 100%;
  width: 100px;
}

footer{
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  width: 100vw;
  text-align: center;
  background-color: #222;
}

.hyperspace {
  background-image: url("/hyperspace.gif");
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: inline-block;
}
