<p>Are you sure you want to delete this?</p>

<form class="" action="/transactions/<%=@transaction.id%>/delete?" method="post">
  <input class="btn btn--action" type='submit' value="Yes"></td>
</form>

<form class="" action="/" method="get">
  <input class="btn btn--action" type='submit' value="Cancel"></td>
</form>
