<h1>Add a new transaction</h1>

<form action="/transactions/added" method="post">
  <label>Date:</label>
    <input type="date" name="dt" required>


  <label>Category:</label>
  <select name="category_id" required>
    <option value="" >-Select a category-</option>
    <% for category in @categories %>
    <option value="<%= category.id %>"><%=category.type%></option>
    <% end %>
  </select>

  <label>  Merchant:  </label>
    <select name="merchant_id" required>
      <option value="">-Select a Merchant-</option>
      <% for merchant in @merchants %>
      <option value="<%= merchant.id %>"><%=merchant.name%></option>
      <% end %>
    </select>

  <label for="amount">Amount: </label>
  <input type="number" name="amount" min=0 required/>

  <input type="submit" value="Add transaction">
</form>
